.container {
    margin-top: 30px;
}

.add-car {
    margin-bottom: 30px;
}

.list-car {
    margin-bottom: 50px;
}

.btn-add-car {
    margin-right: 10px;
}

.search {
   
    display:block;
    float: none;
    margin-left: 10px;
}

.input-search {
    width: 250px;
}

.btn-search {
    width: 250px;
    margin-top: 10px;
    
}