<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Gerenciamento de carros</li>
  </ol>
</nav>
<div class="container">
  <div class="card list-car">
    <h5 class="card-header">Lista de carros</h5>
    <div class="search" >
        {{ csrf_field() }}
        <label class="control-label">Pesquisar</label>
      <input type="search" class="form-control input-sm input-search" name="search" value="{{ $search }}">
      <button type="button" class="btn btn-primary btn-sm btn-search" (click)="searchCar()">Buscar</button>
                
    </div>
    <div class="card-body">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Veiculo</th>
              <th scope="col">Marca</th>
              <th scope="col">Ano</th>
              <th scope="col">Descricao</th>
              <th scope="col">Vendido</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let car of veiculos" >
              <td>{{car.id}}</td>
              <td>{{car.veiculo}}</td>
              <td>{{car.marca}}</td>
              <td>{{car.ano}}</td>
              <td>{{car.descricao}}</td>
              <td>{{car.vendido}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editCar(car)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteCar(car)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <div class="card add-car">
      <h5 class="card-header">Adicionar/Atualizar carro</h5>
      <div class="card-body">
          <form id="add-form" (ngSubmit)="f.form.valid && saveCar(f)" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="veiculo">Modelo Veículo</label>
                <input type="text" [(ngModel)]="veiculo.veiculo" id="veiculo" name="veiculo" #model="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && veiculo.invalid }" placeholder="Digite o modelo">
                <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
                    <div *ngIf="veiculo.errors.required">Veículo é obrigatório</div>
                </div>
            </div>
            <div class="form-group">
                <label for="marca">Marca</label>
                <input type="text" [(ngModel)]="veiculo.marca" id="marca" name="marca" #color="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && marca.invalid }" placeholder="Digite a marca">
                <div *ngIf="f.submitted && marca.invalid" class="invalid-feedback">
                    <div *ngIf="marca.errors.required">Marca é obrigatória</div>
                </div>
            </div>
            <div class="form-group">
                <label for="ano">Ano</label>
                <input type="number" [(ngModel)]="veiculo.ano" id="ano" name="ano"  required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && ano.invalid }" placeholder="Digite o ano">
                <div *ngIf="f.submitted && ano.invalid" class="invalid-feedback">
                    <div *ngIf="ano.errors.required">Ano é obrigatório</div>
                </div>
            </div>
            <div class="form-group">
              <label for="vendido">Vendido</label>
              <select [(ngModel)]="veiculo.vendido" id="vendido" name="vendido"  required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && vendido.invalid }">
                <option value="0" fxFlex > Sim </option>
                <option value="1">Não </option> 
              </select>
              <div *ngIf="f.submitted && vendido.invalid" class="invalid-feedback">
                  <div *ngIf="vendido.errors.required">Vendido é obrigatório</div>
              </div>
          </div>
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <input type="textarea" [(ngModel)]="veiculo.descricao" id="descricao" name="descricao" #price="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && descricao.invalid }" placeholder="Digite uma descrição">
            <div *ngIf="f.submitted && descricao.invalid" class="invalid-feedback">
                <div *ngIf="descricao.errors.required">Descrição é obrigatório</div>
            </div>
        </div>
            <button type="submit" class="btn btn-primary btn-add-car">Salvar</button>
            <button type="reset" class="btn btn-secondary btn-add-car" (click)="cleanForm(f)">Cancelar</button>
          </form>
      </div>
    </div>
</div>